<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PW_BOT_MVVM_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <PW_BOT_MVVM_GUI.Properties.Settings>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>200</value>
            </setting>
        </PW_BOT_MVVM_GUI.Properties.Settings>
    </userSettings>
    <appSettings>
        <add key="AppName" value="TestApp2" />
      <add key="bot_list" value="НочнаЯ Пипикус =Хвост= =Импульс= =Куба= ~Ёкай~_perseus НАНАМИ_perseus Акaцуки =Африка= Фикус_perseus Дерзостb Щирое СИБИРЬ_perseus M@nuynya K1aidу =Америка= AllGood"/>
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>


